.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ant-tabs-tab.ant-tabs-tab-active .parent__tab {
  color: red !important;
}

.half-right-circle {
  position: relative;
  width: 50px;
  /* Adjust width as needed */
  height: 50px;
  /* Adjust height as needed */
  background-color: #ccc;
  /* Set background color */
  overflow: hidden;
  /* Hide overflowing part */
}

.half-right-circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background-color: #ccc;
  /* Set the same background color as the container */
  border-radius: 0% 50% 50% 0%;
  /* Adjust to create a half-right circle */
}